.container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    max-width: min(500px, 90vw);
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.file-container {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
}

.settings-container {
    display: flex;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 1em;
}


.info {
    margin-left: 1em;
    text-align: left;
}

.filename {
    color: var(--white);
    margin-bottom: 0.5em;
    margin-top: 0;
    word-break: break-all;
}

.size {
    font-size: smaller;
    margin-bottom: 0.5em;
}

.btn {
    height: min-content;
    width: 12rem;
    background: #2A2A3C;
    padding: 5px 10px;
    border-radius: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.btn-text {
    font-size: smaller;
    color: var(--white);
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    z-index: 2;
    margin: auto;
}

.btn-progress {
    transition: width ease-in-out 100ms;
    margin-left: -10px;
    margin-top: -1px;
    position: absolute;
    height: calc(0.8rem + 10px);
    border-radius: 2rem;
    width: 0;
    background: var(--success);
    filter: opacity(80%);
}

.image-preview {
    max-width: 90vw;
    max-height: 60vh;
}

.settings-btn {
    background: var(--secondary);
    width: calc(0.8rem + 3px);
    margin-left: 0.5rem;
    height: calc(0.8rem + 3px);
    padding: 5px;
    border-radius: 50%;
}

.settings-btn:hover {
    filter: brightness(125%);
    cursor: pointer;
}

.gear {
    height: 100%;
}

button {
    background: var(--secondary);
    color: var(--white);
    border-radius: 1em;
    border: none;
    padding: 0.25em;
    margin: 0 0.25em;
    cursor: pointer;
    white-space: nowrap;
}

button:disabled {
    color: var(--primary);
    cursor: default;
}

input[type=text] {
    background: var(--secondary);
    padding: 0.25em;
    border: none;
    color: var(--white);

}