input[type=text] {
    text-align: center;
    width: 100%;
    max-width: 30em;
    background: var(--secondary);
    border-style:none;
    padding: 0.5em;
    color: white;
    display: block;
    margin: 1em auto;
}

button {
    background: var(--error);
    color: white;
    border: none;
    padding: 5px 30px;
    border-radius: 30px;
}

b {
    color: #bfbfbf;
}

.errors {
    color: var(--error);
}