:root {
    --white: #fefefe;
    --primary: #7f7f7f;
    --secondary: #21212f;
    --background: #13131b;
    --error: #bf3b3b;
    --success: #35c135;
}

body {
    background-color: var(--background);
    font-family: sans-serif;
    color: var(--primary);
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    text-align: center;
}

.click-through {
    pointer-events: none;
    touch-action: none;
}

a {
    text-decoration: none;
    color: var(--primary);
    white-space: nowrap;
}
