:root {
    --bright: #fefefe;
    --darker: #7f7f7f;
    --even-darker: #21212f;
    --dark: #13131b;
    --red: #bf3b3b;
    --green: #35c135;
}

body {
    background-color: var(--dark);
    font-family: 'Nunito Sans', sans-serif;
    color: var(--darker);
}

#inp {
    opacity: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    text-align: center;
}

.click-through {
    pointer-events: none;
    touch-action: none;
}

.progress {
    background: var(--even-darker);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 5px;
    display: flex;
    height: 1em;
    width: 300px;
    margin: auto;
}

.progress-value {
    transition: width ease-in-out 100ms;
    box-shadow: 0 10px 40px -10px var(--bright);
    border-radius: 100px;
    background: var(--bright);
    height: 0.5em;
    width: 0;
}

@keyframes slidein {
    0% {
        top: -20px;
    }
    15% {
        top: 7px;
    }
    85% {
        top: 7px;
    }
    100% {
        top: -25px;
    }
}

#copied-box {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    animation: 2.5s slidein ease-out forwards;
    color: var(--bright);
}

a {
    font-size: small;
    text-decoration: none;
    color: var(--darker);
}
#success {
    cursor: copy;
}

#strength-input {
    width: 3em;
    background: none;
    border: none;
    color: var(--bright);
}

